<!-- Dispatch Revisit Model Start -->
<div class="pr-modal">
    <div class="modal right fade" id="DispatchRevisitModal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="DispatchRevisitModalLabel">
        <div class="modal-dialog" role="document" style="min-width:800px;">
            <div class="modal-content">

                <div class="modal-header pr-modal-header">
                    <h4 class="modal-title mb-2" id="DispatchRevisitModalLabel">Revisit Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                </div>

                <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="inner-form">                                

                                <div class="row">
                                    <div class="col-12">
                                        <div class="dtls-block">
                                            <div class="block-body">
                                                <div class="row">
                                                <div class="col-6">
                                                    <h4 >Schedule : <span class="h4 text-primary">{{schedule_log_details?.schedule_id?.name}}</span></h4>
                                                    <div class="enqry-sts-blk" [ngSwitch]="schedule_log_details?.schedule_log_status">
                                                        <div *ngSwitchCase="'COMPLETED'">
                                                          <div class="badge badge-label-success">Confirmed</div>
                                                        </div>
                                                        <div *ngSwitchDefault="'PENDING'">
                                                          <div class="badge badge-label-pending">Pending</div>
                                                        </div>
                                                        <div *ngSwitchCase="'INPROGRESS'">
                                                          <div class="badge badge-label-unfinished">In Progress</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h4 class="h4 text-primary">Read Cycle: <span class="h4 text-primary">{{schedule_log_details?.read_cycle_id?.label}}</span></h4>
                                                    <p class="p p-13 mb-1"><span class="mr-3">Date:</span><span class="text-right text-secondary">{{schedule_log_details?.date_and_time | date : 'dd MMM yy'}}</span></p>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-end mt-3">
                                    <div class="col">
                                        <form class="pr-search-form d-inline-block">
                                            <span class="s-icon"></span>
                                            <input class="form-control pr-table-search" type="search"
                                                placeholder="Search by Route, Status" aria-label="Search">
                                        </form>
                                    </div>
                                    <div class="col-auto mr-3">
                                        <div class="dropdown tool-dropdown">
                                            <button class="btn btn-outline-light3 st dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Tools
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item active" href="#">
                                                    <fa-icon [icon]="faPrint"></fa-icon>Print
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    <fa-icon [icon]="faFilePdf"></fa-icon>PDF
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    <fa-icon [icon]="faFileExcel"></fa-icon>Excel
                                                  </a>
                                                  <a class="dropdown-item" href="#">
                                                    <fa-icon [icon]="faFileCsv"></fa-icon>CSV
                                                  </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Revisit DataTable Start -->
                                <div class="row">
                                    <div class="col">
                                        <div class="listview-table-wrap">
                                            <label class="p p-12">Showing Last 6 month records</label>
                                            <br>
                                            <table datatable id="table1" [dtOptions]="dtOptions" class="pr-datatable table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" *ngFor="let item of blocks">
                                                        <span>{{item.name}}</span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngIf="!processing">
                                                    <ng-container *ngFor="let task of dataSet">
                                                        <tr *ngFor="let item of task?.task_detail?.task_obj">
                                                            <td>{{task.route_id?.name}}</td>
                                                            <td>{{item.consumer_no}}</td>
                                                            <td>{{item.meter_no}}</td>
                                                            <td>{{item.meter_reader_first_name}} {{item.meter_reader_last_name}}</td>
                                                            <td>
                                                                <div [ngSwitch]="item.status">
                                                                    <div *ngSwitchDefault="'ALLOCATED'">
                                                                        <div class="badge badge-label-pending">Allocated</div>
                                                                    </div>
                                                                    <div *ngSwitchCase="'ASSIGNED'">
                                                                        <div class="badge badge-label-unfinished">Assigned</div>
                                                                    </div>
                                                                    <div *ngSwitchCase="'COMPLETED'">
                                                                        <div class="badge badge-label-success">Completed</div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="action-col">
                                                                <div *ngIf="item.status != 'COMPLETED'">
                                                                    <div class="row" *ngIf="item.meter_reader_id">
                                                                        <div class="col-12">
                                                                            <ul class="list-unstyled assign-col-list p-0 m-auto">
                                                                                <li class="media mb-0 pb-0 border-0" role="button" tooltipClass="pr-tooltip" placement="top" [openDelay]="300" [closeDelay]="500">
                                                                                    <div class="prof-img-blk colr1">
                                                                                        {{item.meter_reader_first_name | slice:0:1}} {{item.meter_reader_last_name | slice:0:1}}
                                                                                        <span></span>
                                                                                    </div>
                                                                                    <div class="prof-img-blk colr1" ngbTooltip="De-Assign" (click)="DeassignRevisitTask(task.id_string, item.meter_no, item.consumer_no)">
                                                                                        
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <span class="show shown" *ngIf="!item.meter_reader_id">
                                                                        <ul class="list-group list-group-horizontal action-list">
                                                                            <li class="list-group-item dashed-br st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="Assign" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="">
                                                                                <div class="assign-dropdown dropleft">
                                                                                    <button type="button" class="btn bttn-transparent bttn-icon bttn-assign" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                        <i class="icons8 icons8-user"></i>
                                                                                    </button>
                                                                                    <div class="dropdown-menu assign-dropdown-menu">
                                                                                        <div class="assign-dropdown-wrap">
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <form class="pr-search-form">
                                                                                                        <span class="s-icon"></span>
                                                                                                        <input class="form-control pr-table-search w-100" type="search" placeholder="Search"
                                                                                                            aria-label="Search">
                                                                                                    </form>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <hr class="hr mt-2">
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <ul class="list-unstyled assign-col-list" *ngFor="let item2 of task?.meter_reader_detail">
                                                                                                        <li class="media" role="button" data-toggle="modal" (click)="AssignRevisitTask(task.id_string, item.meter_no, item.consumer_no, item2.id_string)">
                                                                                                            <div class="prof-img-blk colr1">
                                                                                                                {{item2.first_name | slice:0:1}} {{item2.last_name | slice:0:1}}<span>{{item2.route_task_assignment_count}}</span>
                                                                                                            </div>
                                                                                                            <div class="media-body">
                                                                                                                <h6 class="ttl">{{item2.first_name}} {{item2.last_name}}</h6>
                                                                                                                <p class="p p-13">{{item2.email}}</p>
                                                                                                            </div>
                                                                                                            <div class="contc-blk">
                                                                                                                <p class="p p-13 text-dark">{{item2.phone_mobile}}</p>
                                                                                                            </div>
                                                                                                        </li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>                                                                        
                                                                            </li>
                                                                        </ul>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                </tbody>
                                                <tbody *ngIf="dataSet?.length == 0">
                                                    <tr>
                                                        <td colspan="12" class="no-data-available">No matching records found</td>
                                                    </tr>
                                                </tbody>
                                                <tbody *ngIf="processing">
                                                    <tr >
                                                        <td colspan="12"> .....</td>						
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Revisit DataTable End -->
                            </div>
                        </div>
                    </div>
                </ngx-simplebar>
            </div> 
        </div>
    </div>
</div>
<!-- Dispatch Revisit Model End -->