
<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link st active" id="consumer_category_tab" data-toggle="tab" href="#consumer_category"
                        role="tab" aria-controls="region" aria-selected="true">Category</a>
                    <a class="nav-item nav-link st" id="consumer_subcategory_tab" data-toggle="tab" href="#consumer_subcategory" role="tab"
                        aria-controls="country" aria-selected="false">Sub Category</a>   
                    <a class="nav-item nav-link st" id="consumer_faq_tab" data-toggle="tab" href="#consumer_faq"
                        role="tab" aria-controls="state" aria-selected="true">FAQs</a> 
                    <a class="nav-item nav-link st" id="consumer_support_tab" data-toggle="tab" href="#consumer_support"
                        role="tab" aria-controls="state" aria-selected="true">Customer Service Centre</a>
                    <a class="nav-item nav-link st" id="consumer_service_agreements_tab" data-toggle="tab" href="#consumer_service_agreements"
                        role="tab" aria-controls="state" aria-selected="true">Service Agreements</a>
                    <a class="nav-item nav-link st" id="consumer_tips_tab" data-toggle="tab" href="#consumer_tips"
                        role="tab" aria-controls="state" aria-selected="true">Tips</a>
                    <a class="nav-item nav-link st" id="consumer_contactus_tab" data-toggle="tab" href="#consumer_contactus"
                        role="tab" aria-controls="state" aria-selected="true">Contact Us</a>
                                  
                </div>
            </nav>
         </div> 
    </div>
</div>
<app-consumers-category [operator]="testing()"></app-consumers-category>
<app-consumers-subcategory [operator]="testing()"></app-consumers-subcategory>
<app-consumers-faq [operator]="testing()"></app-consumers-faq>
<app-consumers-support [operator]="testing()"></app-consumers-support>
<app-consumer-service-agreements [operator]="testing()"></app-consumer-service-agreements>
<app-consumer-tips [operator]="testing()"></app-consumer-tips>
<app-consumer-contactus [operator]="testing()"></app-consumer-contactus>
