.change_block {
    background-color: white;
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    margin-right: 0.5em;
}

.change_block h4 {
    color: #353fdf;
}


.circle {
    width: 100px;
    height: 100px;
    line-height: 36px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    background: #1f28d1;
  }
