<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link st active" id="region-tab" data-toggle="tab" href="#region"
                        role="tab" aria-controls="region" aria-selected="true">Region</a> 
                    <a class="nav-item nav-link st" id="country-tab" data-toggle="tab" href="#country"
                        role="tab" aria-controls="region" aria-selected="true">Country</a>        
                    <a class="nav-item nav-link st" id="state-tab" data-toggle="tab" href="#state"
                        role="tab" aria-controls="region" aria-selected="true">State</a>
                    <a class="nav-item nav-link st" id="city-tab" data-toggle="tab" href="#city"
                        role="tab" aria-controls="region" aria-selected="true">County</a> 
                    <a class="nav-item nav-link st" id="section-tab" data-toggle="tab" href="#section"
                        role="tab" aria-controls="region" aria-selected="true">Zone</a>    
                    <a class="nav-item nav-link st" id="division-tab" data-toggle="tab" href="#division"
                        role="tab" aria-controls="region" aria-selected="true">Division</a>   
                    <a class="nav-item nav-link st" id="area-tab" data-toggle="tab" href="#area"
                        role="tab" aria-controls="region" aria-selected="true">Area</a>    
                    <a class="nav-item nav-link st" id="subarea-tab" data-toggle="tab" href="#subarea"
                        role="tab" aria-controls="region" aria-selected="true">Sub Area</a> 
                    <a class="nav-item nav-link st" id="premises-tab" data-toggle="tab" href="#premises"
                        role="tab" aria-controls="region" aria-selected="true">Premise</a>                                              
                </div>
            </nav>
         </div> 
    </div>
</div>
<app-territory-region [operator]="testing()"></app-territory-region>
<app-territory-country [operator]="testing()"></app-territory-country>
<app-territory-state [operator]="testing()"></app-territory-state>
<app-territory-city [operator]="testing()"></app-territory-city>
<app-territory-section [operator]="testing()"></app-territory-section>
<app-territory-division [operator]="testing()"></app-territory-division>
<app-territory-area [operator]="testing()"></app-territory-area>
<app-territory-subarea [operator]="testing()"></app-territory-subarea>
<app-territory-premises [operator]="testing()"></app-territory-premises>

