<div class="tab-pane fade show active" id="complaint_type" role="tabpanel" aria-labelledby="complaint-type-tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" name="search" placeholder="Search by Complaint Type" aria-label="Search" [(ngModel)]="searchText">
            </form>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#add_complaint_type">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div><br>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px"> 
         <div class="plan-card" style="width:280px;" *ngFor="let item of complaint_typeList.results | filter:searchText">
            <div class="plan-card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="ttl">{{item.name}}</h4>
                         <span (click)="onCardClickEvent(item)" class="edt st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#edit_complaint_type"><i class="icons8 icons8-edit"></i></span>
                    </div>
                    <div class="col-12">
                        <input type="hidden" value="{{item.id_string}}"/>
                    </div>
                    <div class="col-12">

                    </div>
                </div>                                    
            </div>
            <div class="plan-card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created by</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">Admin</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created date</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.created_date | date : 'dd MMM, yyyy'}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Active</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.is_active}}</h6>
                    </div>
                </div>                                 
            </div>
        </div> 
    </div>           
</div>
<!--Add complaint Type Starts-->
<div class="pr-modal">
    <div class="modal right fade" id="add_complaint_type" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Add Complaint Type</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsForm" autocomplete="chrome-off">
                            <!-- <div class="form-row">
                                <div class="col">
                                    <label>Service</label>
                                    <ng-select [items]="service_List.results" bindLabel="name" bindvalue="id_string" placeholder="Select Service" appendTo="body" [(ngModel)]="complaint_type_Obj.service">
                                    </ng-select>
                                </div>
                            </div> -->
                                <div class="form-row">
                                    <div class="col">
                                        <label>Complaint Type</label>
                                        <input type="text" class="form-control" placeholder="Enter Complaint Type"  formControlName="complaintTypeControl" [ngClass]="{ 'is-invalid': applicantDetailsFormSubmitted && ad.complaintTypeControl.errors }"/>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintTypeControl.errors.required">{{message.complaintTypeCantBeEmpty}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintTypeControl.errors.maxlength">{{message.complaintTypeMaxLength}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintTypeControl.errors.whitespace && !ad.complaintTypeControl.errors.required">{{message.invalidComplaintType}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintTypeControl.errors.pattern">{{message.invalidComplaintTypeName}}</div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onAddComplaintTypedata()">Add</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Add complaint Type Ends-->
<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="addedSuccessfullyToast" header="dwd" [delay]="1000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="addedSuccessfullyToast = false; autohide = true">
            <div>Complaint Type successfully added!!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Complaint Type Already Exists!!</div>
        </ngb-toast>
    </div>
</div>

<!--Edit complaint Type Starts-->
<div class="pr-modal">
    <div class="modal right fade" id="edit_complaint_type" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="editCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Edit Complaint Type</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsFormEdit" autocomplete="chrome-off">
                        <!-- <div class="form-row">
                            <div class="col">
                                <label>Service</label>
                                <ng-select [items]="service_List.results" bindLabel="name" bindvalue="id_string" placeholder="Select Complaint Type" appendTo="body" [(ngModel)]="complaint_type_Obj_edit.service">
                                </ng-select>
                            </div>
                        </div> -->
                                <div class="form-row">
                                        <div class="col">
                                            <label>Complaint Type</label>
                                            <input type="text" class="form-control" placeholder="Enter Complaint Type" name = "complaintTypeControlEdit" formControlName="complaintTypeControlEdit" [ngClass]="{ 'is-invalid': applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors }"/>
                                            <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors" class="invalid-feedback">
                                                <div *ngIf="ade.complaintTypeControlEdit.errors.required">{{message.complaintTypeCantBeEmpty}}</div>
                                            </div>
                                            <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors" class="invalid-feedback">
                                                <div *ngIf="ade.complaintTypeControlEdit.errors.maxlength">{{message.complaintTypeMaxLength}}</div>
                                            </div>
                                            <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors" class="invalid-feedback">
                                                <div *ngIf="ade.complaintTypeControlEdit.errors.whitespace && !ade.complaintTypeControlEdit.errors.required">{{message.invalidComplaintType}}</div>
                                            </div>
                                            <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors" class="invalid-feedback">
                                                <div *ngIf="ade.complaintTypeControlEdit.errors.pattern">{{message.invalidComplaintTypeName}}</div>
                                            </div>
                                        </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onEditComplaintTypedata()">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Edit complaint Type Ends-->
<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="editedSuccessfullyToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="editedSuccessfullyToast = false; autohide = true">
            <div>Complaint type Successfully Updated !!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Complaint Type Already Exists!!</div>
        </ngb-toast>
    </div>
</div>

