<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link st active" id="user-tab" data-toggle="tab" href="#user_user"
                        role="tab" aria-controls="user" aria-selected="true">Users</a>
                    <a class="nav-item nav-link st" id="skill-tab" data-toggle="tab" href="#user_skill"
                        role="tab" aria-controls="state" aria-selected="true">Skills</a>                 
                </div>
            </nav>
         </div> 
    </div>
</div>
<app-user-type [operator]="testing()"></app-user-type>
<app-user-skills [operator]="testing()"></app-user-skills>

