
<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link st active" id="complaint_type_tab" data-toggle="tab" href="#complaint_type"
                        role="tab" aria-controls="region" aria-selected="true">Type</a>
                    <a class="nav-item nav-link st" id="complaint_subtype_tab" data-toggle="tab" href="#complaint_subtype" role="tab"
                        aria-controls="country" aria-selected="false">Sub type</a>
                    <a class="nav-item nav-link st" id="complaint_complaint_tab" data-toggle="tab" href="#complaint_complaint"
                        role="tab" aria-controls="state" aria-selected="true">Complaints</a>               
                </div>
            </nav>
         </div> 
    </div>
</div>
<app-complaints-type [operator]="testing()"></app-complaints-type>
<app-complaints-subtype [operator]="testing()"></app-complaints-subtype>
<app-complaints-complaints [operator]="testing()"></app-complaints-complaints>
