<div class="row">
    <div class="col">
        <div class="listview-table-wrap">
        	<label class="p p-12">Showing Last 6 month records</label>
        	<br>
        	<table datatable class="pr-datatable table table-hover">
        		<thead>
		            <tr>
		                <th scope="col"><span>Column 1</span></th>
		                <th scope="col"><span>Column 1</span></th>
		                <th scope="col"><span>Column 1</span></th>
		                <th scope="col"><span>Column 1</span></th>
		                <th scope="col"><span>Column 1</span></th>
		            </tr>
		        </thead>
		        <tbody>
		        	<tr>
		        		<td>R1 C1</td>
		        		<td>R1 C2</td>
		        		<td>R1 C3</td>
		        		<td>R1 C4</td>
		        		<td>R1 C5</td>
		        	</tr>
		        </tbody>
		    </table>
		</div>
	</div>
</div>
