<div class="row">
    <div class="col-12">
        <div class="col-3">

        </div><div class="col-3">

        </div>
        <div class="col-6">
            <div class="notfound-container" style="margin-top: 100px; align-content: center;" layout-align="center center">
                <div class="notfound" style="align-self: center;">
                    <div class="notfound-404">
                        <h1>Oops!</h1>
                        <h2>404 - The Page can't be found</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    