<!--Tab Panel for Type start-->
<div class="tab-pane fade" id="role_type" role="tabpanel" aria-labelledby="role_type_tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" name="search" placeholder="Search by Type Name." aria-label="Search" [(ngModel)]="searchText">
            </form>
        </div>
       
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#addRole_Type_Modal">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="filters-wrap">
                <div class="collapse" id="filterCollapse2">
                    <div class="filter-wrap-inner">
                        <div class="row">
                            <div class="col-12">
                                <ul class="list-group list-group-horizontal">
                                    <li class="list-group-item">
                                        <label>Status</label>
                                        <ng-select class="filter-select" [items]="filterStatus" bindLabel="name"
                                            placeholder="Select Status" [(ngModel)]="selectFilterStatus" name="name">
                                        </ng-select>
                                    </li>
                                    <li class="list-group-item">
                                        <label>Department</label>
                                        <ng-select class="filter-select" [items]="filterDepartment" bindLabel="name"
                                            placeholder="Select Department" [(ngModel)]="selectFilterDepartment" name="name">
                                        </ng-select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row filter-cta-row">
                            <div class="col-auto pr-2">
                            <button class="btn btn-outline-secondary st">Apply</button>
                            </div>
                            <div class="col-auto pl-2">
                            <button class="btn btn-light2 st">Cancel</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px">
            <div class="plan-card" style="width:280px;" *ngFor="let type of roleTypes | filter:searchText">
                <div class="plan-card-header">
                    <div class="row">
                        <div class="col-12">
                            <h4 class="ttl">{{type.key}}</h4>
                            <!-- <span class="h6">Post Paid</span>&nbsp;|&nbsp;<span class="h6">Variable</span> -->
                            <span class="edt st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#editTypeModal"><i class="icons8 icons8-edit"></i></span>
                        </div>
                        <div class="col-12">

                        </div>
                    </div>                                    
                </div>
                <div class="plan-card-body">
                    <div class="row">
                        <div class="col-6">
                            <p class="p p-13 mb-1">Active</p>
                            <h6 class="h6 mb-3" >{{type.is_active}}</h6>
                        </div>
                        <div class="col-6">
                            <p class="p p-13 mb-1">Created by</p>
                            <h6 class="h6 mb-3">Admin</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p class="p p-13 mb-1">Created date</p>
                            <h6 class="h6 mb-3">{{type.created_date | date : 'dd MMM yy'}}</h6>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Tab panel for Type end-->