<!-- <div class="row dash-wrap">
    <div class="col-xl-3 col-4 dash-col">
        <div class="sm-dash sm-chart media" *ngFor="let item of blocks">
            <div class="chart-wrap align-self-center">
                <canvas class="d1" baseChart [options]="doughnutChartOptions"
                    [datasets]="doughnutChartData" [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"></canvas>
                <canvas class="d2" baseChart [options]="doughnutChartOptions2"
                    [datasets]="doughnutChartData2" [labels]="doughnutChartLabels2"
                    [chartType]="doughnutChartType2"></canvas>
            </div>
            <div class="media-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item colr1">
                        <p class="p">Consumers</p>
                        <h4 class="ttl">500000</h4>
                    </li>
                    <li class="list-group-item colr2">
                        <p class="p">Reading</p>
                        <h4 class="ttl">150000</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> -->