<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tab">
                    <a class="nav-item nav-link st active" id="region-tab" data-toggle="tab" href="#numformat"
                    role="tab" aria-controls="region" aria-selected="true">Num Format</a>               
                </div>
            </nav>
         </div> 
    </div>
</div>
<app-num-format-tab></app-num-format-tab>