<div class="row">
    <div class="col">
        <div class="listview-table-wrap">
        	<label class="p p-12">Showing Last 6 month records</label>
        	<br>
        	<table datatable id="table1" [dtOptions]="dtOptions" class="pr-datatable table table-hover">
        		<thead>
		            <tr>
		                <th scope="col" *ngFor="let item of blocks"><span>{{item.name}}</span></th>
		            </tr>
		        </thead>
				<tbody *ngIf="!processing">
					<tr *ngFor="let item of dataSet">
		            	<td class="showOnHover">{{item?.name}}
		            		<span class="show">
		            			<span class="enqry-no-blk">{{item?.utility?.name}}</span>
		            			<span class="enqry-name-blk" style="padding-right: 26px">{{item?.utility_product_id?.name}}</span>
		            			<div class="enqry-sts-blk" [ngSwitch]="item?.schedule_status">
				                    <div *ngSwitchCase="'PENDING'">
				                      <div class="badge badge-label-success">PENDING</div>
				                    </div>
				                    <div *ngSwitchCase="'Dispatched'">
				                      <div class="badge badge-label-warning">Dispatched</div>
				                    </div>
				                    <div *ngSwitchCase="'Partial'">
				                      <div class="badge badge-label-danger">Partial</div>
				                    </div>
				                </div>
                                
                                <div class="list-blk">
                                    <p><span>{{item?.bill_cycle_id?.bill_cycle_name}}</span><span>Cycle</span></p>
                                    <p><span>{{item?.start_date | date : 'dd MMM yy'}}</span><span>Start Date</span></p>
                                    <p><span>{{item?.end_date | date : 'dd MMM yy'}}</span><span>End Date</span></p>
                                </div>
				            </span>
		            	</td>
		            	<td>{{item?.bill_cycle_id?.bill_cycle_name}}</td>		            	
			            <td>{{item?.utility_product_id?.name}}</td>
			            <td>{{item?.start_date | date : 'dd MMM yy'}}</td>
						<td>{{item?.end_date | date : 'dd MMM yy'}}</td>
			            <td>{{item?.recurring_id?.value}}</td>
						
			            <td *ngIf="item?.frequency_id?.value">{{item?.frequency_id?.value}}</td>
			            <td *ngIf="item?.frequency_id?.value == null" > - </td>
			            <td *ngIf="item?.repeat_every_id?.value">{{item?.repeat_every_id?.value}}</td>
			            <td *ngIf="item?.repeat_every_id?.value == null"> - </td>
			            
                        <td>
		            		<div class="enqry-sts-blk" [ngSwitch]="item?.schedule_status">
								<div *ngSwitchCase="'PENDING'">
								  <div class="badge badge-label-success">PENDING</div>
								</div>
								<div *ngSwitchCase="'Dispatched'">
								  <div class="badge badge-label-warning">Dispatched</div>
								</div>
								<div *ngSwitchCase="'Partial'">
								  <div class="badge badge-label-danger">Partial</div>
								</div>
							</div>
			            </td>
                        <td class="action-col">
                            <span class="show">
                                <ul class="list-group list-group-horizontal action-list">
									<li class="list-group-item st" (click)="EditBillSchedule($event,item.id_string,'EDIT')" ngbTooltip="Edit" [openDelay]="200" [closeDelay]="200">
										<fa-icon [icon]="faPen" ></fa-icon>
									</li>
                                    <li class="list-group-item st"  (click)="RunBillSchedule($event,item.id_string,'VIEW')" tooltipClass="pr-tooltip" placement="top" ngbTooltip="Run Bill" [openDelay]="300" [closeDelay]="500"><fa-icon [icon]="faFileInvoiceDollar"></fa-icon>
                                    </li>
                                    <li class="list-group-item st" (click)="ViewBillSchedule($event,item.id_string,'VIEW')" ngbTooltip="View" [openDelay]="200" [closeDelay]="200">
										<i class="icons8 icons8-eye"></i>
									</li>
                                </ul>
                            </span>
                        </td>
		            </tr> 
		        </tbody>
				<tbody *ngIf="dataSet?.length == 0">
					<tr>
					  <td colspan="3" class="no-data-available">No matching records found</td>
					</tr>
					</tbody>
					<tbody *ngIf="processing">
					<tr >
					  <td colspan="3"> .....</td>						
					</tr>
				  </tbody>
		    </table>
    	</div>
    </div>
</div>

<!-- Schedule Edit Component Start -->
<app-billing-schedule-edit></app-billing-schedule-edit>
<!-- Schedule Edit Component End -->

<!-- Schedule Bill View Component End -->
<app-billing-schedule-view></app-billing-schedule-view>
<!-- Schedule Bill View Component End -->