<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <!-- <a class="nav-item nav-link st active" id="registrationtypetab" data-toggle="tab" href="#registrationtype"
                        role="tab" aria-controls="type" aria-selected="true">Type</a>
                    <a class="nav-item nav-link st" id="registrationsubtypetab" data-toggle="tab" href="#registrationsubtype" role="tab"
                        aria-controls="subtype" aria-selected="false">Sub type</a> -->
                    <a class="nav-item nav-link st active" id="consenttab" data-toggle="tab" href="#consent"
                        role="tab" aria-controls="channel" aria-selected="true">Consumer consent</a>
                    <a class="nav-item nav-link st" id="ownertab" data-toggle="tab" href="#owner"
                        role="tab" aria-controls="channel" aria-selected="true">Ownership</a>
                    <!-- <a class="nav-item nav-link st" id="templatetab" data-toggle="tab" href="#template"
                        role="tab" aria-controls="channel" aria-selected="true">Template</a> -->
                </div> 
            </nav>
         </div> 
    </div>
</div>
<!-- <app-registration-admin-type [operator]="testing()"></app-registration-admin-type> -->
<!-- <app-registration-admin-templates [operator]="testing()"></app-registration-admin-templates> -->
<!-- <app-registration-admin-subtype [operator]="testing()"></app-registration-admin-subtype> -->
<!-- <app-registration-admin-documents [operator]="testing()"></app-registration-admin-documents> -->
<app-registration-admin-consumerconsent [operator]="testing()"></app-registration-admin-consumerconsent>
<app-registration-admin-ownership [operator]="testing()"></app-registration-admin-ownership>
