<div class="tab-pane fade" id="service_status" role="tabpanel" aria-labelledby="service_status_tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" placeholder="Search" aria-label="Search">
            </form>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#add_service_status">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div><br>
    <div class="col-auto">
        <div class="plan-card" style="width:280px;">
            <div class="plan-card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="ttl">Service Status</h4>
                        <!-- <span class="h6">Post Paid</span>&nbsp;|&nbsp;<span class="h6">Variable</span> -->
                        <span class="edt st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#edit_service_status"><i class="icons8 icons8-edit"></i></span>
                    </div>
                    <div class="col-12">

                    </div>
                </div>                                    
            </div>
            <div class="plan-card-body">
                <div class="row">
                   
                    <div class="col-6">
                        <p class="p p-13 mb-1">Active</p>
                        <h6 class="h6 mb-3">Yes</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created by</p>
                        <h6 class="h6 mb-3">Admin</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created Date</p>
                        <h6 class="h6 mb-3">09 Jan 2020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>         
</div>

<!--Service Status Add Start-->
<div class="pr-modal">
    <div class="modal right fade" id="add_service_status" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addsubTypeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addRole_subType_Label">Add Services</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="form-row">
                                <div class="col">
                                    <label>Service</label>
                                    <input type="text" class="form-control" placeholder="" name = "region"/>
                                   
                                </div>
                            </div>
                            
                            <div class="form-row">
                                <div class="col">
                                    <label>Type</label>
                                    <ng-select [searchable]="false" [clearable]="false" appendTo="body" [items]="subtype" bindLabel="name" placeholder="" [(ngModel)]="selectedsubtype" name="doctp">
                                    </ng-select>  
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col">
                                    <label>Sub Type</label>
                                    <ng-select [searchable]="false" [clearable]="false" appendTo="body" [items]="subtype" bindLabel="name" placeholder="" [(ngModel)]="selectedsubtype" name="doctp">
                                    </ng-select>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" data-dismiss="modal" aria-label="Close">Add</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Service Status Add End-->

<!--Service Status edit start-->
<div class="pr-modal">
    <div class="modal right fade" id="edit_service_status" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="editCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="editSubTypeModalLabel">Edit Service </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="form-row">
                                <div class="col">
                                    <label>Service</label>
                                    <input type="text" class="form-control" placeholder="" name = "region"/>
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Type</label>
                                    <ng-select [searchable]="false" [clearable]="false" appendTo="body" [items]="subtype" bindLabel="name" placeholder="" [(ngModel)]="selectedsubtype" name="doctp">
                                    </ng-select>
                                </div> 
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Sub Type</label>
                                    <ng-select [searchable]="false" [clearable]="false" appendTo="body" [items]="subtype" bindLabel="name" placeholder="" [(ngModel)]="selectedsubtype" name="doctp">
                                    </ng-select>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" data-dismiss="modal" aria-label="Close">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Service Status edit end-->


