<div class="tab-pane fade" id="notification_subtype" role="tabpanel" aria-labelledby="notification-subtype-tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" name="search" placeholder="Search by Notification Sub Type" aria-label="Search" [(ngModel)]="searchText">
            </form>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#add_notification_subtype" (click)="onAddClick()">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div><br>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px">
        <div class="plan-card" style="width:280px;" *ngFor="let item of notification_subtypeList.results| filter:searchText">
            <div class="plan-card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="ttl" style="word-wrap: break-word;">{{item.name}}</h4>
                        <!-- <span class="h6">Post Paid</span>&nbsp;|&nbsp;<span class="h6">Variable</span> -->
                        <span class="edt st" (click)="onCardClickEvent(item)" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#edit_notification_subtype"><i class="icons8 icons8-edit"></i></span>
                    </div>
                    <div class="col-12">
                        <input type="hidden" value="{{item.id_string}}"/>
                    </div>
                    <div class="col-12">

                    </div>
                </div>                                    
            </div>
            <div class="plan-card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Notification Type</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.notification_type.name}}</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created by</p>
                        <h6 class="h6 mb-3">Admin</h6>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created date</p>
                        <h6 class="h6 mb-3">{{item.created_date | date : 'dd MMM yy'}}</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Active</p>
                        <h6 class="h6 mb-3">{{item.is_active}}</h6>
                    </div>
                   
                </div>
            </div>
        </div>
    </div> 
</div>

<!-- Add Notification Type modal start -->
<div class="pr-modal">
    <div class="modal right fade" id="add_notification_subtype" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addCityModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Add Notification SubType</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsForm" autocomplete="chrome-off">
                            <div class="form-row">
                                <div class="col">
                                    <label>Type</label>
                                    <ng-select appendTo="body" [items]="notification_typeList.results" formControlName="notificationTypeNameControl" [ngClass]="{ 'is-invalid': applicantDetailsFormSubmitted && ad.notificationTypeNameControl.errors }" bindLabel="name" bindvalue="id_string" placeholder="Select Type" name="add_subtype">
                                    </ng-select>
                                    <div *ngIf="applicantDetailsFormSubmitted && ad.notificationTypeNameControl.errors" class="invalid-feedback">
                                        <div *ngIf="ad.notificationTypeNameControl.errors.required">{{message.notificationTypeCantBeEmpty}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>SubType</label>
                                    <input type="text" class="form-control"formControlName="notificationSubTypeNameControl" [ngClass]="{ 'is-invalid': applicantDetailsFormSubmitted && ad.notificationSubTypeNameControl.errors }" placeholder="Enter Notification Type" name = "add_notification_subtype"/>
                                    <div *ngIf="applicantDetailsFormSubmitted && ad.notificationSubTypeNameControl.errors" class="invalid-feedback">
                                        <div *ngIf="ad.notificationSubTypeNameControl.errors.required">{{message.notificationSubTypeCantBeEmpty}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormSubmitted && ad.notificationSubTypeNameControl.errors" class="invalid-feedback">
                                        <div *ngIf="ad.notificationSubTypeNameControl.errors.maxlength">{{message.notificationSubTypeLength}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormSubmitted && ad.notificationSubTypeNameControl.errors" class="invalid-feedback">
                                        <div *ngIf="ad.notificationSubTypeNameControl.errors.whitespace && !ad.notificationSubTypeNameControl.errors.required">{{message.invalidNotificationSubType}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormSubmitted && ad.notificationSubTypeNameControl.errors" class="invalid-feedback">
                                        <div *ngIf="ad.notificationSubTypeNameControl.errors.pattern">{{message.notificationSubTypeShouldBeLetter}}</div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onAddNotificationSubTypeData()">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>

<!-- Add Notification Type modal end -->

<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="addedSuccessfullyToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="addedSuccessfullyToast = false; autohide = true">
            <div>Notification Type successfully added!!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Notification Type  Already Exists!!</div>
        </ngb-toast>
    </div>
</div>


<!-- Edit Notification Type modal start -->
<div class="pr-modal">
    <div class="modal right fade" id="edit_notification_subtype" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addCityModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Edit Notification SubType</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsFormEdit" autocomplete="chrome-off">
                            <div class="form-row">
                                <div class="col">
                                    <label>Type</label>
                                    <ng-select appendTo="body" (change)="onNotificationTypeEditChange()" [items]="notification_typeList.results" formControlName="notificationTypeNameControlEdit" [ngClass]="{ 'is-invalid': applicantDetailsFormEditSubmitted && ade.notificationTypeNameControlEdit.errors }" bindLabel="name" bindvalue="id_string" placeholder="Select Type" name="add_subtype">
                                    </ng-select>
                                    <input type="hidden" class="form-control" formControlName="notificationTypeNameControlEditHidden"/>
                                    <div *ngIf="applicantDetailsFormEditSubmitted && ade.notificationTypeNameControlEdit.errors" class="invalid-feedback">
                                        <div *ngIf="ade.notificationTypeNameControlEdit.errors.required">{{message.notificationTypeCantBeEmpty}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>SubType</label>
                                    <input type="text" class="form-control" formControlName="notificationSubTypeNameControlEdit" [ngClass]="{ 'is-invalid': applicantDetailsFormEditSubmitted && ade.notificationSubTypeNameControlEdit.errors }" placeholder="Enter Notification Type" name = "edit_notification_subtype"/>
                                    <div *ngIf="applicantDetailsFormEditSubmitted && ade.notificationSubTypeNameControlEdit.errors" class="invalid-feedback">
                                        <div *ngIf="ade.notificationSubTypeNameControlEdit.errors.required">{{message.notificationSubTypeCantBeEmpty}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormEditSubmitted && ade.notificationSubTypeNameControlEdit.errors" class="invalid-feedback">
                                        <div *ngIf="ade.notificationSubTypeNameControlEdit.errors.maxlength">{{message.notificationTypeMaxLength}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormEditSubmitted && ade.notificationSubTypeNameControlEdit.errors" class="invalid-feedback">
                                        <div *ngIf="ade.notificationSubTypeNameControlEdit.errors.whitespace && !ade.notificationSubTypeNameControlEdit.errors.required">{{message.invalidNotificationType}}</div>
                                    </div>
                                    <div *ngIf="applicantDetailsFormEditSubmitted && ade.notificationSubTypeNameControlEdit.errors" class="invalid-feedback">
                                        <div *ngIf="ade.notificationSubTypeNameControlEdit.errors.pattern">{{message.notificationSubTypeShouldBeLetter}}</div>
                                    </div>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onEditNotificationTypeData()">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!-- Edit Notification Type modal end -->

<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="editedSuccessfullyToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="editedSuccessfullyToast = false; autohide = true">
            <div>Notification SubType successfully Updated!!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Notification SubType Already Exists!!</div>
        </ngb-toast>
    </div>
</div>