<div class="tab-pane fade" id="complaint_subtype" role="tabpanel" aria-labelledby="complaint_subtype_tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" name="search" placeholder="Search by Complaint Subtype" aria-label="Search" [(ngModel)]="searchText">
            </form>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" (click)="onAddClick()" role="button" data-toggle="modal" data-target="#add_complaint_subtype">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div><br>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px"> 
         <div class="plan-card" style="width:280px;" *ngFor="let item of complaint_subtypeList.results | filter:searchText">
            <div class="plan-card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="ttl">{{item.name}}</h4>
                         <span (click)="onCardClickEvent(item)" class="edt st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#edit_complaint_subtype"><i class="icons8 icons8-edit"></i></span>
                    </div>
                    <div class="col-12">
                        <input type="hidden" value="{{item.id_string}}"/>
                    </div>
                    <div class="col-12">

                    </div>
                </div>                                    
            </div>
            <div class="plan-card-body">
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Complaint Type</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.complaint_type.name}}</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created by</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">Admin</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="p p-13 mb-1">Created date</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.created_date | date : 'dd MMM, yyyy'}}</h6>
                    </div>
                    <div class="col-6">
                        <p class="p p-13 mb-1">Active</p>
                        <h6 class="h6 mb-3" style="word-wrap: break-word;">{{item.is_active}}</h6>
                    </div>   
                </div>                                  
            </div>
        </div> 
    </div>           
</div>

<!--Add Service SubType Starts-->
<div class="pr-modal">
    <div class="modal right fade" id="add_complaint_subtype" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Add Complaint SubType</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsForm" autocomplete="chrome-off">
                                <div class="form-row">
                                    <div class="col">
                                        <label>Complaint Type</label>
                                        <ng-select id="edit_complaint_type" [items]="complaint_typeList.results" bindLabel="name" bindvalue="id_string" placeholder="Select Complaint Type" appendTo="body" formControlName="complaintTypeControl" [ngClass]="{ 'is-invalid': applicantDetailsFormSubmitted && ad.complaintTypeControl.errors }">
                                        </ng-select>
                                        
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintTypeControl.errors.required">{{message.complaintTypeCantBeEmptyDrop}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label>Complaint SubType</label>
                                        <input type="text" class="form-control" placeholder="Enter Complaint SubType" name = "editComplaint" formControlName="complaintSubTypeControl" [ngClass]="{ 'is-invalid': applicantDetailsFormSubmitted && ad.complaintSubTypeControl.errors }"/>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintSubTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintSubTypeControl.errors.required">{{message.complaintSubTypeCantBeEmpty}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintSubTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintSubTypeControl.errors.maxlength">{{message.complaintSubTypeMaxLength}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintSubTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintSubTypeControl.errors.whitespace && !ad.complaintSubTypeControl.errors.required">{{message.invalidComplaintSubType}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormSubmitted && ad.complaintSubTypeControl.errors" class="invalid-feedback">
                                            <div *ngIf="ad.complaintSubTypeControl.errors.pattern">{{message.invalidComplaintSubTypeName}}</div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onAddComplaintSubTypedata()">Add</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Add Complaint SubType Ends-->
<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="addedSuccessfullyToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="addedSuccessfullyToast = false; autohide = true">
            <div>Complaint Sub Type successfully added!!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Complaint Sub Type Already Exists!!</div>
        </ngb-toast>
    </div>
</div>

<!--Edit Complaint SubType Starts-->
<div class="pr-modal">
    <div class="modal right fade" id="edit_complaint_subtype" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="editCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addPymntsModalLabel">Edit Complaint SubType</h4>
                <button type="button" class="close" (click)="onCloseClick()" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <form name="form" [formGroup]="applicantDetailsFormEdit" autocomplete="chrome-off">
                                <div class="form-row">
                                    <div class="col">
                                        <label>Complaint Type</label>
                                        <ng-select [items]="complaint_typeList.results" (change)="onComplaintTypeEditChange()" formControlName="complaintTypeControlEdit" [ngClass]="{ 'is-invalid': applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors }" bindLabel="name" bindvalue="id_string" placeholder="Select Complaint Type" appendTo="body" >
                                        </ng-select>
                                        <input type="hidden" class="form-control" formControlName="complaintTypeControlEditHidden"/>
                                        <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintTypeControlEdit.errors" class="invalid-feedback">
                                            <div *ngIf="ade.complaintTypeControlEdit.errors.required">{{message.complaintTypeCantBeEmptyDrop}}</div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <label>Complaint SubType</label>
                                        <input type="text" class="form-control" placeholder="Enter Complaint Type" name = "editComplaint" formControlName="complaintSubTypeControlEdit" [ngClass]="{ 'is-invalid': applicantDetailsFormEditSubmitted && ade.complaintSubTypeControlEdit.errors }"/>
                                        <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintSubTypeControlEdit.errors" class="invalid-feedback">
                                            <div *ngIf="ade.complaintSubTypeControlEdit.errors.required">{{message.complaintSubTypeCantBeEmpty}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintSubTypeControlEdit.errors" class="invalid-feedback">
                                            <div *ngIf="ade.complaintSubTypeControlEdit.errors.maxlength">{{message.complaintSubTypeMaxLength}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintSubTypeControlEdit.errors" class="invalid-feedback">
                                            <div *ngIf="ade.complaintSubTypeControlEdit.errors.whitespace && !ade.complaintSubTypeControlEdit.errors.required">{{message.invalidComplaintSubType}}</div>
                                        </div>
                                        <div *ngIf="applicantDetailsFormEditSubmitted && ade.complaintSubTypeControlEdit.errors" class="invalid-feedback">
                                            <div *ngIf="ade.complaintSubTypeControlEdit.errors.pattern">{{message.invalidComplaintSubTypeName}}</div>
                                        </div>
                                    </div>
                                </div> 
                            </form>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" (click)="onCancelClick()" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" (click)="onEditComplaintSubTypedata()">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>
<!--Edit Complaint SubType Ends-->
<div class="row">
    <div class="col">
        <ngb-toast class="success" *ngIf="editedSuccessfullyToast" header="dwd" [delay]="1000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="editedSuccessfullyToast = false; autohide = true">
            <div>Complaint SubType Successfully Updated!!</div>
        </ngb-toast>
        <ngb-toast class="success" *ngIf="exceptionToast" header="dwd" [delay]="2000" [autohide]="autohide" (mouseenter)="autohide = false" (mouseleave)="autohide = true" (hide)="exceptionToast = false; autohide = true">
            <div>Complaint SubType Already Exists!!</div>
        </ngb-toast>
    </div>
</div>