<div class="row">
    <div class="col">
        <div class="nav-block mt-4">
            <nav class="inner-form-tabs">
                <!--Basic Tab Start-->
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link st active" id="activity-log-tab" data-toggle="tab" href="#activity-log"
                        role="tab" aria-controls="channel" aria-selected="true">Activity Log</a>
                </div> 
            </nav>
         </div> 
    </div>
</div>
<app-activity-log-tab [operator]="testing()"></app-activity-log-tab>