<section class="pr-section list-view-section">
    <app-consumer-dashboard></app-consumer-dashboard>
    <app-consumer-filters></app-consumer-filters>
    <div class="row">
        <div class="col">
            <div class="listview-table-wrap">
                <label class="p p-12">Showing Last 6 month records</label>
                <br>
                <table datatable id="table1" style="width:100%" [dtOptions]="dtOptions" class="pr-datatable table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" *ngFor="let item of blocks"><span>{{item.name}}</span></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="!processing">
                        <tr *ngFor="let item of consumerList.results">
                            <td class="showOnHover">{{item.consumer_no}}
                                <span class="show">
                                    <span class="enqry-no-blk">{{item.consumer_no}}</span>
                                    <span class="enqry-name-blk">{{item.name}}</span>
                                    <div class="enqry-sts-blk" [ngSwitch]="item.status">
                                        <div *ngSwitchCase="'Approved'">
                                          <div class="badge badge-label-success">Approved</div>
                                        </div>
                                        <div *ngSwitchCase="'Pending'">
                                          <div class="badge badge-label-warning">Pending</div>
                                        </div>
                                        <div *ngSwitchCase="'Rejected'">
                                          <div class="badge badge-label-danger">Rejected</div>
                                        </div>
                                    </div>
                                    <div class="list-blk">
                                        <p><span>Old Alwal</span><span>Sub Area</span></p>
                                        <p><span>Venkatesh</span><span>Vendor</span></p>
                                        <p><span>Venkatesh.co</span><span>Agency</span></p>
                                    </div>
                                </span>
                            </td>
                            <td>{{item.name}}</td>
                            <td>
                                <div class="enqry-sts-blk" [ngSwitch]="item.status">
                                    <div *ngSwitchCase="'Approved'">
                                      <div class="badge badge-label-success">Approved</div>
                                    </div>
                                    <div *ngSwitchCase="'Pending'">
                                      <div class="badge badge-label-warning">Pending</div>
                                    </div>
                                    <div *ngSwitchCase="'Rejected'">
                                      <div class="badge badge-label-danger">Rejected</div>
                                    </div>
                                </div>
                            </td>
                            <td>{{item.mobileNo}}</td>
                            <td>{{item.contract.category.name}}</td>
                            <td>{{item.contract.sub_category.name}}</td>
                            <td>{{item.area}}</td>  
                            <td>{{item.source}}</td>    
                            <td>{{item.contract.start_date| date : 'dd MMM yy'}}</td>
                            <td class="action">
                                <!-- <ul class="list-group list-group-horizontal action-list" *ngIf="onlyEditPrivilege || EditViewPrivilege"> -->
                                <ul class="list-group list-group-horizontal action-list">	
                                    <li class="list-group-item st" ngbTooltip="Approve" [openDelay]="200" [closeDelay]="200">
                                        <i class="icons8 icons8-user"></i>
                                    </li>
                                    <li class="list-group-item st" ngbTooltip="Reject" [openDelay]="200" [closeDelay]="200">
                                        <i class="icons8 icons8-eye"></i>
                                    </li>
                                </ul>
                            </td>
                        </tr> 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>
    