<div class="tab-pane fade" id="consumer_offers" role="tabpanel" aria-labelledby="consumer_offers_tab">
    <div class="row justify-content-end">
        <div class="col">
            <form class="pr-search-form d-inline-block">
                <span class="s-icon"></span>
                <input class="form-control pr-table-search" type="search" name="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchText">
            </form>
        </div>
        <div class="col-auto pl-0">
            <button class="btn btn-secondary st" role="button" data-toggle="modal" data-target="#add_consumer_offers">
                <fa-icon [icon]="faPlus"></fa-icon>Add
            </button>
        </div>
    </div><br>
    <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayout.xs="column wrap" fxLayoutGap="20px"> 
            <div class="plan-card" style="width:280px;">
               <div class="plan-card-header">
                   <div class="row">
                       <div class="col-12">
                           <h4 class="ttl">Offer 1</h4>
                            <span class="edt st" tooltipClass="pr-tooltip" placement="top" ngbTooltip="edit" [openDelay]="300" [closeDelay]="500" role="button" data-toggle="modal" data-target="#edit_consumer_offers"><i class="icons8 icons8-edit"></i></span>
                       </div>
                       <!-- <div class="col-12">
                           <input type="hidden" value="{{item.id_string}}"/>
                       </div> -->
                       <div class="col-12">
   
                       </div>
                   </div>                                    
               </div>
               <div class="plan-card-body">
                   <div class="row">
                       <div class="col-6">
                           <p class="p p-13 mb-1">Active</p>
                           <h6 class="h6 mb-3" style="word-wrap: break-word;">Yes</h6>
                       </div>
                       <div class="col-6">
                           <p class="p p-13 mb-1">Created by</p>
                           <h6 class="h6 mb-3" style="word-wrap: break-word;">Admin</h6>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-6">
                           <p class="p p-13 mb-1">Created date</p>
                           <h6 class="h6 mb-3" style="word-wrap: break-word;"></h6>
                       </div>
                   </div>                                  
               </div>
           </div> 
       </div>   
</div>
</div>

<!--Basic Consumer Offers Add Start-->
<div class="pr-modal">
    <div class="modal right fade" id="add_consumer_offers" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="addsubTypeModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="addRole_subType_Label">Add Consumer Offers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="form-row">
                                <div class="col">
                                    <label>Type</label>
                                    <ng-select [items]="" bindLabel="name" bindvalue="id_string" placeholder="Select Offer Type" appendTo="body">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>SubType</label>
                                    <ng-select [items]="" bindLabel="name" bindvalue="id_string" placeholder="Select Offer SubType" appendTo="body">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Offer Name" name = "add_offer_name"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Max Amount</label>
                                    <input type="text" class="form-control" placeholder="Enter Max Amount" name = "add_offer_max_amount"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Percentage</label>
                                    <input type="text" class="form-control" placeholder="Enter Precentage" name = "add_offer_percentage"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Effective Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="mm--yyyy--dd" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" container="body">
                                        <div class="input-group-append">
                                            <button class="btn bttn-transparent bttn-icon" type="button" (click)="d.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Expiry Date</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="mm--yyyy--dd" name="dp2" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()" container="body">
                                        <div class="input-group-append">
                                            <button class="btn bttn-transparent bttn-icon" type="button" (click)="d2.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <label>Description</label>
                                    <textarea class="form-control big-textarea" name="add_description" placeholder="Enter Description" id="add_description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" data-dismiss="modal" aria-label="Close">Add</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div>

<!--Basic Consumer Offers Add End-->

<!--Basic Consumer Offers Edit Starts-->
<!-- <div class="pr-modal">
    <div class="modal right fade" id="edit_consumer_offers" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="editCountryModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">    
            <div class="modal-header pr-modal-header">
                <h4 class="modal-title" id="editSubTypeModalLabel">Edit Consumer Offers</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
            </div>
            <ngx-simplebar [options]="scrollOptions" class="modal-body pr-modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="inner-form">
                            <div class="form-row">
                                <div class="col">
                                    <label>Category</label>
                                    <input type="text" class="form-control" placeholder="Enter Consumer Category"  [(ngModel)]="consumer_category_Obj.name" name = "edit_consumer_category"/>
                                </div> 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </ngx-simplebar>
            <div class="modal-footer pr-modal-footer">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <button class="btn btn-outline-light3 st" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                    <div class="col-auto pl-1 pr-0">
                        <button class="btn btn-secondary st" data-dismiss="modal" aria-label="Close"  (click)="onEditConsumerCategorydata()">Save</button>
                    </div>
                </div>
            </div> 
        </div>
      </div>
    </div>
</div> -->
<!--Basic Consumer Offers Edit Ends-->

